@font-face{
    font-family: 'Roboto-Regular', sans-serif;
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff');
         font-weight: 400;
         font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?34yx27');
    src:  url('../fonts/icomoon.eot?34yx27#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?34yx27') format('truetype'),
      url('../fonts/icomoon.woff?34yx27') format('woff'),
      url('../fonts/icomoon.svg?34yx27#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-near_me:before {
    content: "\e900";
  }
  .icon-map-marker:before {
    content: "\f041";
  }
  .icon-shopping-cart:before {
    content: "\f07a";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-bolt:before {
    content: "\f0e7";
  }
  .icon-flash:before {
    content: "\f0e7";
  }
  .icon-angle-right:before {
    content: "\f105";
  }

.icon-mail-envelope-closed:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e900";
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon-1.eot?idgm6');
  src:  url('../fonts/icomoon-1.eot?idgm6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon-1.ttf?idgm6') format('truetype'),
    url('../fonts/icomoon-1.woff?idgm6') format('woff'),
    url('../fonts/icomoon-1.svg?idgm6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
  content: "\e908";
}
.icon-mail-envelope-closed:before {
  content: "\e901";
}
.icon-group:before {
  content: "\e909";
}
.icon-social-linkedin:before {
  content: "\e90a";
}
.icon-heart:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-sort:before {
  content: "\f0dc";
}
.icon-unsorted:before {
  content: "\f0dc";
}
.icon-meh-o:before {
  content: "\f11a";
}
.icon-cny:before {
  content: "\f157";
}
.icon-jpy:before {
  content: "\f157";
}
.icon-rmb:before {
  content: "\f157";
}
.icon-yen:before {
  content: "\f157";
}
.icon-sort-amount-desc:before {
  content: "\f161";
}
.icon-foursquare:before {
  content: "\f180";
}
.icon-pagelines:before {
  content: "\f18c";
}
.icon-edit:before {
  content: "\e903";
}
.icon-pencil-square-o:before {
  content: "\e903";
}
.icon-th-list:before {
  content: "\e904";
}
.icon-th-large:before {
  content: "\e905";
}
.icon-locked:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e925";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-bubbles4:before {
  content: "\e970";
}

